# Use Vundle to get these files
dots/_vim/bundle

# A seperate dir for keys
dots/_sshkeys

# Configs with personal info
.muttrc.*

# Purple (pidin, finch) directories
dots/_purple/certificates
dots/_purple/icons/
dots/_purple/logs/
dots/_purple/blist*
