# Use Vundle to get these files
dots/_vim/bundle

# Project files
.ropeproject

# Configs with personal info
.muttrc.*

# Purple (pidin, finch) directories
dots/_purple/certificates
dots/_purple/icons
dots/_purple/logs
dots/_purple/blist*
